.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: black;
    color: white;
}

.logo{
  height: 80px;
  display: block;
  margin: 10px auto;
}

.nav-links a{
   color: white;
   margin-left: 15px;
   text-decoration: none;
}

.nav-links a:hover{
    text-decoration: underline;
}